@include theme{
    .h-button{
        outline: 0;
        border: 0;
        display: inline-block;
        padding: 8px 16px;
        border-radius: 2px;
        cursor: pointer;
        @include statusMixin(button){
            background-color: $value;
            color: white;
            &:active{
                background-color: mix($value,black,70%);
            }
        }
    }
}