/*scale*/
.h-transition-scale-enter-active, .h-transition-scale-leave-active {
  transform: scale(1);
}

.h-transition-scale-enter, .h-transition-scale-leave-to {
  transform: scale(0.75);
  opacity: 0;
}

/*scale-y*/
.h-transition-scale-y-enter-active, .h-transition-scale-y-leave-active {
}

.h-transition-scale-y-enter, .h-transition-scale-y-leave-to {
  transform: scaleY(0);
  opacity: 0;
}

/*fade*/
.h-transition-fade-enter-active, .h-transition-fade-leave-active {
  opacity: 1;
}

.h-transition-fade-enter, .h-transition-fade-leave-to {
  opacity: 0;
}

/*slider*/
[direction=horizontal] {
  &.h-transition-slide-next-enter-active, &.h-transition-slide-next-leave-active {
    transform: translate3d(0, 0, 0);
  }

  &.h-transition-slide-next-enter {
    transform: translate3d(100%, 0, 0);
  }

  &.h-transition-slide-next-leave-to {
    transform: translate3d(-100%, 0, 0);
  }

  &.h-transition-slide-prev-enter-active, &.h-transition-slide-prev-leave-active {
    transform: translate3d(0, 0, 0);
  }

  &.h-transition-slide-prev-enter {
    transform: translate3d(-100%, 0, 0);
  }

  &.h-transition-slide-prev-leave-to {
    transform: translate3d(100%, 0, 0);
  }
}

[direction=vertical] {
  &.h-transition-slide-next-enter-active, &.h-transition-slide-next-leave-active {
    transform: translate3d(0, 0, 0);
  }

  &.h-transition-slide-next-enter {
    transform: translate3d(0, 100%, 0);
  }

  &.h-transition-slide-next-leave-to {
    transform: translate3d(0, -100%, 0);
  }

  &.h-transition-slide-prev-enter-active, &.h-transition-slide-prev-leave-active {
    transform: translate3d(0, 0, 0);
  }

  &.h-transition-slide-prev-enter {
    transform: translate3d(0, -100%, 0);
  }

  &.h-transition-slide-prev-leave-to {
    transform: translate3d(0, 100%, 0);
  }
}